@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&display=fallback');

@tailwind base;
@tailwind components;

// Additional styles
@import 'additional-styles/utility-patterns.scss';
@import 'additional-styles/range-slider.scss';
@import 'additional-styles/toggle-switch.scss';
@import 'additional-styles/theme.scss';

@tailwind utilities;

// Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive
@responsive {
  .rtl {
    direction: rtl;
  }
}

// See Alpine.js: https://github.com/alpinejs/alpine#x-cloak
[x-cloak] {
  display: none;
}

// AOS styles
$aos-distance: 16px;
@import 'node_modules/aos/src/sass/aos.scss';

.home-phone {
  //left: -30%;
  width: 240.8px;
  height: 471.8px;
}

.services-gif {
  max-width: 84.33%;
  //left: -22%;
  width: 203px;
  height: 436.8px;
}

.home-stripe-notification {
  left: 0%
}

.hsn-one {
  left: -25%;
  top:-5%;
}

.hsn-two {
  left: 25%;
  bottom: -5%;
}

.hsn-three {
  display: none;
}


@media screen and (min-width: 992px) {
  .home-phone {
    //left: -30%;
    width: 344px;
    height: 674px;
  }

  .services-gif {
    max-width: 84.33%;
    //left: -22%;
    width: 290px;
    height: 624px;
  }

  .home-stripe-notification {
    left: -65%
  }

  .hsn-one {
    top: 10%;
  }

  .hsn-two {
    top: 20%;
  }

  .hsn-three {
    top: 30%;
  }
}

.modal {
  z-index: 99;
}

.modal-image {
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 80%;
}

